/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 body {
     background-color: #bd9f82;
 }



 .container h1 {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 12px;
letter-spacing: -1.2px;
word-spacing: 4px;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

 }


 body p {
    text-transform: uppercase;
    color: hsl(35, 61%, 14%);
 }

 #headerAddText {
     position: absolute;
     left:50px;
     top:-50px;
 }




.addIcon {
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    border: none;
    width: 110px;
    font-size: 8px;
    height: 30px;
}

#addIconPng {
    margin-right: 3px;
    margin-top: 3px;
    max-width: 20px;
    max-height: 20px;
    float: left;
    margin-left: 40px;
    margin-right: 28px;
}

#optionsPng {
    margin-right: 3px;
    margin-top: 3px;
    max-width: 20px;
    max-height: 20px;
    float: right;
    margin-left: 2px;
}

.headerText {
position: relative;
top:-15px;
left:3px;
font-size: 8px;
}

.createPlayerCard {
    width: 100px;
    height:100px;
    margin-left:15%;
    margin-right:15%;
    margin-top:120px;
    display:none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding-top:25px;
    z-index:2;
}

.playerGearTitle, .playerStrengthTitle  {
    margin-top:-30px;
}



#createMunchkin {
    position: inherit;
    font-size: 4vw;
    top: 73vw;
    left: 24vw;
    outline: none;
    text-transform: uppercase;
    border: 1px solid #574517;
    border-radius: 50px;
    background-color: rgb(240, 217, 196);
    max-width: auto;
    max-height: auto;
    color: black;
}
.addLevelIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:60px;
}

.addGearIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:60px;

}



.removeGearIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:-60px;
}

.addStrengthIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:60px;

}

.removeStrengthIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:-60px;
}



.removeLevelIcon {
    position: relative;
    border-radius:50px;
    border: 1px solid black;
    top:-35px;
    left:-60px;
}

.removeLevelIcon, .addLevelIcon, .addGearIcon, .removeGearIcon, .addStrengthIcon, .removeStrengthIcon {
  background-color:inherit;
  outline:none;
}

.removeLevelIcon:active, .addLevelIcon:active, .addGearIcon:active, .removeGearIcon:active, .addStrengthIcon, .removeStrengthIcon {
    transform: scale(0.8);
}


.cardTitle img {
   
    height: auto;
}


.createPlayerCard img {
   position: inherit;
   top:70px;
}

#maleIcon {
    max-width: 10vw;
    max-height: auto;
    top: 55vw;
    left: 15vw;
}

#femaleIcon {
    max-width: 5vw;
    max-height: auto;
    top: 56vw;
    left: 45vw;
}

#male {
    max-width: 12px;
    min-width: 12px;
}

#female {
    max-width: 7px;
    min-width: 7px;
}


.createPlayerCard p {
    font-size: 12px;
}

#munchkinNameInput {
    border: 1px solid #574517;
    background-color: #d9c4b0;
    outline: none;
    margin-top: 6px;
    font-size: 4vw;
    height: 5vw;
    text-align: center;
    border-radius: 25px;
    width: 50vw;
    top: 28vw;
    left: 8vw;
    position: inherit;
}


#genderTitle {
    font-size: 4vw;
    position: inherit;
    top: 38vw;
    left: 21vw;
}

#nameTitle {
    font-size: 4vw;
    margin-top: 1px;
    position: inherit;
    left: 20vw;
    top: 16vw;
}

@keyframes rotation {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  
  }

  #test {
      display:none;
  }
  

  .outerCircle {
    border-left: 1px solid hsl(44, 74%, 20%);
    border-right: 1px solid hsl(44, 74%, 20%);
    border-bottom: 12px groove hsl(44, 74%, 20%);
    border-top: 12px groove hsl(44, 74%, 20%);
    background-color: #bba086;
    position: absolute;
    left: -7vw;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    transform: rotate(45deg);
}




.addIcon:active, .deleteButton:active {
   transform: scale(1.1);
   filter: invert(100%);
   transition-property: all;
   transition-duration: 0.1s;
   
}

.yesButton:active, .noButton:active {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

.yesButton, .noButton {
    border: 2px solid black;
    position: relative;
    border-radius: 20%;
    font-weight: 600;
    outline: none;
}

.yesButton {
    left: -53px;
    background-color: forestgreen;
}
.noButton {
    right: -53px;
    background-color: darkred;
}

#confirmBox {
    display:none;
}



.confirmationBox {
    position: relative;
    left: -50%;
    border: 2px solid black;
    margin-top: 20vw;
    font-size: 9px;
    padding:10px;
    width: 307px;
    text-align: center;
    border-radius: 25px;
    background-color: mintcream;
    
}

#numberOfPlayers {
    position: relative;
    top: -35px;
    left: 2px;
}

.deleteButton {
    background-color: #362d2c;
    border: 1px black solid;
    border-radius: 50%;
    color: white;
    outline: none;
    float: right;
    margin-top: -7px;
    margin-left: -22px;
    margin-right: 1px;
    transform: scale(0.6);
    opacity: 0.6;
}

.container {
    text-align: center;
    width: 89vw;
    height: 90%;
    padding-top: 2px;
    padding-bottom: 9px;
    padding-left: 25px;
    float: left;
    margin-left: -5px;
    background-color: #d9c4B0;
}

 .plusIcon, .minusIcon {
     max-width: 20px;
     max-height: 20px; 
    position: relative;
    top:-25px;
 }

 .plusIcon {
    left: -15px;
 }

 .minusIcon {
    left: 15px;
    
 }

 .border {
    border: 5px groove  hsl(44, 74%, 20%);
    border-radius: 20px;
    
 }

 .header {
     width:auto;
     height: 30px;
 }


 .player {
     margin:5px;
     min-width: 110px;
     width:40%;
     max-width: 200px;
     height:auto;
     float:left;
     text-align: center;
    
 }

 .card {
     border: 1px solid black;
     border-radius: 5px;
     background-color: #f5ede6;
     margin-left:10px;
 }

 .cardTitle {
     border-bottom: 1px solid black;
    
 }

 .playerBody {
     text-align: center;
 }

 