/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 body {
     background-color: #bd9f82;
 }

 #test {
     position: absolute;
     display:none;
     
 }

 .container h1 {

    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 12px;
letter-spacing: -1.2px;
word-spacing: 4px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

 }


 body p {
     
    text-transform: uppercase;
    color: hsl(35, 61%, 14%);
 }

 #headerAddText {
     position: absolute;
     left:50px;
     top:-50px;
 }





.addIcon {
    background-color: transparent;
    outline:none;
    border-radius:50px;
    margin-left:15px;
    border:none;

}

.headerText {
position: relative;
top:-15px;
left:3px;
font-size: 8px;
}

.createPlayerCard {
    width: 100px;
    height:100px;
    margin-left:15%;
    margin-right:15%;
    margin-top:120px;
    display:none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding-top:25px;
    z-index:2;
}

#createMunchkin {
    position: inherit;
    font-size: 6px;
    top:88px;
    left:32px;
    outline:none;
    text-transform: uppercase;
    border:1px solid #574517;
    border-radius:50px;
    background-color:rgb(240, 217, 196);
    max-height: 10px;
    max-width:auto;
    color:black;
}





.createPlayerCard img {
   position: inherit;
   top:70px;
}

#maleIcon {
    max-width: 15px;
    max-height: 15px;
    left:22.5px;
}

#femaleIcon {
    max-width: 12.5x;
    max-height: 12.5px;
    top:72px;
    left:67.5px;
}

.createPlayerCard p {
    font-size: 12px;
}

#munchkinNameInput {
border:1px solid #574517;
background-color: #d9c4b0;
outline:none;
margin-top:6px;
font-size: 8px;
height:10px;
text-align: center;
border-radius: 25px;
width: 60px;
top:31.5px;
left:20px;
position: inherit;
}



#genderTitle {
    font-size: 8px;
    position: inherit;
    left:10px;
    top: 48px;
}

#nameTitle {
    font-size: 8px;
    margin-top:1px;
    position: inherit;
    left:15px;
}


@keyframes rotation {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  
  }

  
  

.outerCircle {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 4px groove hsl(44, 74%, 20%);
    border-top: 4px groove  hsl(44, 74%, 20%);
    background-color:#bd9f82;
    position: absolute;
    top:0;
    left:inherit;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotate(45deg);

  }
  




.addIcon:active {
   transform: scale(1.1);
   filter: invert(100%);
   transition-property: all;
   transition-duration: 0.1s;
   
}

#numberOfPlayers {
position: relative;
top:-28px;
left:40px;
}



 .container {
     width:50vw;
     height:90%;
     padding-top:2px;
     float:left;
     background-color: #d9c4B0;
 }

 .plusIcon, .minusIcon {
     max-width: 20px;
     max-height: 20px; 
    position: relative;
    top:-25px;
 }

 .plusIcon {
    left: -15px;
 }

 .minusIcon {
    left: 15px;
    
 }

 .border {
    border: 5px groove  hsl(44, 74%, 20%);
    border-radius: 20px;
    
 }

 .header {
     width:auto;
     height: 30px;
 }

 .header img {
     margin-right:3px;
     margin-top:3px;
     max-width: 20px;
     max-height:20px;
     float:right;
 }

 .player {
     margin:5px;
     min-width: 110px;
     width:40%;
     max-width: 200px;
     height:200px;
     float:left;
     text-align: center;
    
 }

 .card {
     border: 1px solid black;
     border-radius: 5px;
     background-color: #f5ede6;
     margin-left:10px;
 }

 .cardTitle {
     border-bottom: 1px solid black;
  
 }

 .playerBody {
     text-align: center;
 }

 